{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=0.85">

  <!-- Include basic items -->
  <link href="{% static "components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "components/bootstrap-social/bootstrap-social.css" %}" rel="stylesheet">
  <link href="{% static "components/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

  <!-- Scripts -->
  <script src="{% static "components/jquery/jquery.min.js" %}"></script>
  <script src="{% static "components/html5shiv/dist/html5shiv.min.js" %}"></script>
  <script src="{% static "components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

  {% block head %}{% endblock %}
</head>
<body>
  {% block body %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
</body>
</html>
